@import '../themes/theme';




button {
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: $fs-16;
    color: #ffffff;
    font-weight: 500;
    font-family: $theme-text-roboto;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 4px 0 rgba( 0,0,0,0.25);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; // Transition pour la couleur de fond et l'ombre
    &:hover {
        background: linear-gradient(
            lighten(#FF79DA, 5%),
            lighten(#9356DC, 5%)
        );
        box-shadow: 0 6px 6px 0 rgba( 0,0,0,0.25);
    }
}

li {
    width: 100%;
    display: flex; 
    border-radius: 20px;
    padding: 20px 0 20px 0;
    box-shadow: 0 4px 15px 0 rgba( 0,0,0,0.15);
    background-color: #F6F6F6;
}