@import '../themes/theme';
@import '../utils/keyframes';

button {
    width: 218px;
    height: 50px;
    @include colors(linear-gradient(#FF79DA, #9356DC), $white-pur, null);
    @include font($sz-16, 500, $theme-text-roboto);
    @include rounded-corners(25px);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease; // Transition pour la couleur de fond et l'ombre
    &:hover {
        background: linear-gradient(lighten(#FF79DA, 5%),lighten(#9356DC, 5%));
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.25);
    }
}

.tuto__items {
    width: 100%;
    display: flex; 
    border-radius: 20px;
    padding: 20px 0 20px 0;
    box-shadow: 0 4px 15px 0 rgba( 0,0,0,0.15);
    background-color: $white-main;
    &:hover .tuto__icon {
        transition: color 0.3s ease;
        color: $purple-main;
    }
}

.load {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white-pur;
    z-index: 1;
    animation: hideLoader 3s 3s forwards;

    &__container {
        @include center; 
        width: calc(3vh * 10); 
        height: calc(3vh * 7.5); 
        display: flex;
        justify-content: space-evenly;
    }

    &__bar {
        background: linear-gradient(180deg, $purple-main, $pink-secondary , $cyan-Tertiary);
        height: 100%;
        width: 3vh;
        animation: bars 2s backwards ease-in-out infinite; 
        animation-direction: alternate;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: calc(1000ms / 5) * $i;
            }
        }   
    }
}

.restaurants__like {
    font-size: $sz-22; 
    
    &:hover .restaurants__like--1 {
        transform: scale(0); // Applique une transformation de mise à l'échelle à l'élément avec la classe restaurants__like--1 lorsqu'il est survolé.
    }

    &:hover .restaurants__like--2 {
        transform: scale(1); // Applique une transformation de mise à l'échelle à l'élément avec la classe restaurants__like--2 lorsqu'il est survolé.
    }

    &--1 {
        position: relative; 
        left: 13.5px; 
    }

    &--2 {
        position: relative; 
        right: 14px; 
        background: linear-gradient(#9356DC,#FF79DA); // Applique un dégradé linéaire comme arrière-plan à l'élément avec la classe restaurants__like--2.
        background-clip: text; // Indique que le dégradé linéaire doit être appliqué à la couleur du texte.
        color: transparent; // Rend le texte de l'élément avec la classe restaurants__like--2 transparent.
        transform: scale(0); // Applique une transformation de mise à l'échelle à l'élément avec la classe restaurants__like--2 pour le rendre invisible.
        transition: transform 0.5s ease; // Ajoute une transition pour l'effet de mise à l'échelle afin qu'il soit animé en douceur pendant 0.5 seconde avec une accélération régulière.
    }
}


    
