@import '../themes/theme';

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::placeholder {
    color: #000000;
  }

  li {
    list-style: none;
  }

  h1,
  h2,
  h3,
  p,
  a {
  font-family: "Roboto";
}