// Fonts
$theme-heading-Shrikhand: "Shrikhand";
$theme-text-roboto: "Roboto";

// Palette
$purple-main: #9356DC;
$pink-secondary: #FF79DA;
$cyan-Tertiary: #99E2D0;
$white-pur: #ffffff;
$white-main: #F3F3F3;
$light-black: #353535;
$pur-black: #000000;

// REM font-sizes
$sz-14: 0.875rem;
$sz-15: 0.9375rem;
$sz-16: 1rem;
$sz-17: 1.0625rem;
$sz-18: 1.125rem;
$sz-22: 1.375rem;
$sz-24: 1.5rem;
$sz-28: 1.75rem;
$sz-30: 1.875rem;

