@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @mixin flex-around($display: flex, $justify-content: space-around) {
    display: $display;
    justify-content: $justify-content;
  }