@import "../themes/theme";
@import "../utils/mixins";
@import "../components/component";

.header {
    height: 63px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-bottom: 1px;
    
        &__logo {
            text-align: center;
            font-weight: 400;
            padding-top: 14px;
            padding-bottom: 13px;
        }
}

.local {
    height: 50px;
    background-color: #EAEAEA;
    @include flex-center;
    gap: 17px;
    box-shadow: 0 4px 4px 0 rgba( 0,0,0,0.25);

    &__input {
        width: 115px;
        border: 0;
        outline: none;
        font-weight: bold;
        background-color: #EAEAEA; 
    }

}