@import "../themes/theme";
@import "../utils/mixins";
@import "../components/component";


// Section hero

.hero {
    margin-top: 5px;
    padding: 34px 0 57px 0;
    @include flex-container(column, center);
    text-align: center;
    background-color: $white-main;
    @include media-query (1024px){
        align-items: center;
        gap: 18px;
    } 
   
    
    &__title {
        width: 275px;  
        @include media-query (1024px){
            width: 100%;
        }  
    }

    &__text {
        width: 315px;
        @include font($sz-18, null, $theme-text-roboto);
        margin-bottom: 27px;
        @include media-query (1024px){
            width: 100%;
            margin: 0;
        }
    }
}

// Fonctionnement

.tuto {
    padding: 48px 20px 68px 20px;
    
    @include media-query(768px){
        @media screen and (max-width:1024px) {
        text-align: center;   
        }
    }

    @include media-query(1024px){
        width: 1053px;
        @include flex-container(column, null);
        margin: 0 auto;
    }
    

    &__title {
        padding-bottom: 26px;
    }

    &__content {
        @include flex-container(column, start);
        gap: 24.92px;
        padding-left: 12.51px;
       
        @include media-query(768px){
            @media screen and (max-width:1024px){
                max-width: 500px;
                margin: 0 auto;
            }
        }
                
        @include media-query(1024px){
            flex-direction: row;
        }
    }
    
    &__circle {
        width: 24px;
        height: 24px;
        text-align: center;
        @include rounded-corners(50%);
        @include colors($purple-main, $white-pur, none);
        position: relative;
        right: 11px;
        bottom: 3px;
    }

    &__number {
        position: relative;
        top: 2px;
    }

    &__icon {
        color: #7E7E7E;
        padding-left: 11px;
        padding-right: 27px;
    }


    &__text {
        @include font($sz-16, 500, $theme-text-roboto);
    }
}

//restaurant

.restaurants {
    background-color: #F6F6F6;
    padding: 54px 18px 66px 17px;
    @include media-query(1024px){
        max-width: 1053px;
        @include flex-container(column, stretch);
        margin: 0 auto;
    }

    &__heading {
        padding-bottom: 48px;
        font-family: $theme-text-roboto;
        
        @include media-query(768px) {
            @media (max-width: 1024px) {
                text-align: center; 
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 32px;
        @include media-query(768px){
           grid-template-columns: repeat(2, 1fr);
           column-gap: 100px;
        }
    }

    &__card {
        background-color: $white-pur;
        @include rounded-corners(16px);
        position: relative;
    }

    &__img {
        height: 191px;
        width: 100%;
        @include rounded-corners(16px 16px 0 0);
        object-fit: cover;
      }


    &__rectangle {
        padding: 8px;
        position: absolute;
        top: 16px;
        right: 12px;
        @include colors($cyan-Tertiary, #008766, none);
        @include rounded-corners(2px);
        @include font($sz-14, null, $theme-text-roboto);
        text-align: center;
        align-content: center;
    }

    &__footer {
        padding: $sz-16;
        @include flex-center;
      }
    
      &__content {
        flex: 1;
      }

      &__title {
        margin-bottom: 4px;
      }
      
      &__title,
      &__subtitle {
        font-family: $theme-text-roboto;
      }
}

