@import "../themes/theme";
@import "../utils/mixins";
@import "../components/component";


// Section hero

.hero {
    margin-top: 5px;
    padding: 34px 0 57px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    @media screen and (min-width: 1024px){
        align-items: center;
        gap: 18px;
    } 
   
    
    &__title {
        width: 275px;  
        @media screen and (min-width: 1024px){
            width: 100%;
        }  
    }

    &__text {
        width: 315px;
        font-size: $fs-18;
        font-family: $theme-text-roboto;
        margin-bottom: 27px;
        @media screen and (min-width: 1024px){
            width: 100%;
            margin: 0;
        }
    }
}

// Fonctionnement

.tuto {
    padding: 48px 20px 68px 20px;
    
    @media screen and (min-width: 869px) and (max-width:1024px) {
        text-align: center;   
    }
    @media screen and (min-width: 1024px){
        width: 1053px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    

    &__title {
        padding-bottom: 26px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24.92px;
        padding-left: 12.51px;
        @media screen and (min-width: 869px) and (max-width:1024px) {
            max-width: 317px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1024px){
            flex-direction: row;
        }
    }
    
    &__circle {
        width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 50%;
        background-color: $purple-main;
        color: #ffffff;
        position: relative;
        right: 11px;
        bottom: 3px;
    }

    &__number {
        position: relative;
        top: 2px;
    }

    &__icon {
        color: #7E7E7E;
        padding-left: 11px;
        padding-right: 27px;
    }


    &__text {
        font-size: $fs-16;
        font-weight: 500;
        font-family: $theme-text-roboto;
    }
}

//restaurant

.restaurants {
    background-color: #F6F6F6;
    padding: 54px 18px 66px 17px;
    @media screen and (min-width: 1024px){
        max-width: 1053px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    &__heading {
        padding-bottom: 48px;
        font-family: $theme-text-roboto;
        @media screen and (min-width: 869px) and (max-width:1024px) {
            text-align: center;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 32px;
        @media screen and (min-width: 869px){
           grid-template-columns: repeat(2, 1fr);
           column-gap: 100px;
        }
    }

    &__card {
        background-color: #ffffff;
        border-radius: 16px;
        position: relative;
    }

    &__img {
        height: 191px;
        width: 100%;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
      }


    &__rectangle {
        padding: 8px;
        position: absolute;
        top: 16px;
        right: 12px;
        background-color:#99E2D0;
        color: #008766;
        border-radius: 2px;
        font-family: $theme-text-roboto;
        font-size: $fs-14;
        text-align: center;
        align-content: center;
    }

    &__footer {
        padding: 16px;
        display: flex;
        align-items: center;
      }
    
      &__content {
        flex: 1;
      }

      &__title {
        margin-bottom: 4px;
        font-family: $theme-text-roboto;
      }

      &__subtitle {
        font-family: $theme-text-roboto;
      }

      &__like {
        font-size: 22px;
        &:hover .restaurants__like--1 {
            transform: scale(0);
        }
        &:hover .restaurants__like--2 {
            transform: scale(1);
        }
        
        &--1 {
           position: relative;
           left: 13.5px; 
        }

        &--2 {
            position: relative;
            right: 14px;
            background: linear-gradient(#9356DC,#FF79DA);
            background-clip: text;
            color: transparent;
            transform: scale(0);
            transition: transform 0.5s ease;     
        }

      }

}

