@import "../themes/theme";
@import "../utils/mixins";
@import "../components/component";




.restaurant {
    background-color: #F6F6F6;
    border-radius: 50px 50px 0 0;
    position: relative;
    bottom: 60px;
    z-index: 1;
    border: transparent 1px solid;
    margin-bottom: -60px;
    @media screen and (min-width: 1024px) {
        padding: 0 200px;
        max-width: 1055px;
        margin: 0 auto;
    }

    &__heading {
        padding: 32px 17px 40px 17px;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 1024px){
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        font-family: $theme-heading-Shrikhand;
        font-size: $fs-28;
    }

    &__like {
        font-size: 21px;
        padding-right: 41px; 
        @media screen and (min-width: 1024px) {
            padding-right:0;
            padding-left: 41px;
        } 
    }

}

.menu {
    padding: 0 13px 0 13px;

    &__title {
        width: 76px;
        height: 27px;
        font-size: $fs-18;
        font-family: $theme-text-roboto;
        font-weight: 300;
        position: relative;
        display: inline-block;
        &::after {
            content: ""; 
            position: absolute;
            bottom: 0;
            left: 50%; 
            width: 2.5rem; 
            height: 3px; 
            background-color: $cyan-Tertiary; 
            transform: translateX(-95%); 
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 40px 0;
    }

    &__items {
        width: 100%;
        display: flex; 
        border-radius: 20px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        gap: 5px;
        flex: 1;
        overflow: hidden;
        min-width: 0;
    }

    &__name {
        font-family: $theme-text-roboto;
        font-size: $fs-18;
        white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
        overflow: hidden; /* Cache tout contenu débordant */
        text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer le texte tronqué */
    }

    &__lastname {
        font-family: $theme-text-roboto;
        font-size: $fs-15;
        white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
        overflow: hidden; /* Cache tout contenu débordant */
        text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer le texte tronqué */

    }

    &__price {
        font-size: $fs-15;
        font-family: $theme-text-roboto;
        font-weight: 700;
        padding-top: 27px;
        padding-right: 13.5px;
    }

    &__animation {
        width: 0;
        height: 69px;
        align-content: center;
        text-align: center;
        border-radius: 0 15px 15px 0;
        background-color: $cyan-Tertiary;
        overflow: hidden;
        transition: width 0.5s ease;
    }

    &__check {
        color: #ffffff;
        font-size: 20px;
    }
    
}

.menu__items:hover .menu__animation {
    width: 59px;
}


.menu__btn {
    text-align: center;
    padding-bottom: 40px;
}





