@import "../themes/theme";
@import "../utils/mixins";
@import "../utils/keyframes";
@import "../components/component";




.restaurant {
    @include colors ($white-main, null, transparent 1px solid);
    @include rounded-corners(50px 50px 0 0);
    position: relative;
    bottom: 60px;
    z-index: 1;
    margin-bottom: -60px;
    @include media-query (768px){
        @media screen and (max-width:1024px) {
            padding: 0 100px;
            max-width: 900px;
            margin: 0 auto;
            }
        }  

    @include media-query(1024px) {
        padding: 0 200px;
        max-width: 1055px;
        margin: 0 auto;
    }

    &__heading {
        padding: 32px 17px 40px 17px;
        @include flex-center;
        gap: $sz-22;
    }

    &__title {
        @include font($sz-28, null, $theme-heading-Shrikhand);
    }
}

.menu {
    padding: 0 13px 0 13px;
    

    &__title {
        width: 76px;
        height: 27px;
        @include font($sz-18, 300, $theme-text-roboto);
        position: relative;
        display: inline-block;
        &::after {
            content: ""; // Ajoute un contenu vide
            position: absolute; // Positionne l'élément de manière absolue par rapport à son parent
            bottom: 0; // Place l'élément au bas de son parent
            left: 50%; // Place l'élément à 50% de la largeur de son parent, c'est-à-dire au centre horizontalement
            width: 2.5rem; // Définit la largeur de l'élément pseudo-élément ::after
            height: 3px; // Définit la hauteur de l'élément pseudo-élément ::after
            background-color: $cyan-Tertiary; // Définit la couleur de fond de l'élément pseudo-élément ::after
            transform: translateX(-95%); // Déplace l'élément de -95% de sa propre largeur vers la gauche, c'est-à-dire presque complètement à gauche 
        }
    }

    &__container {
        @include flex-container(column, null);
        gap: 12px;
        padding: 40px 0;
    }

    &__items {
        @include rounded-corners(20px);
        @include flex-center;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        background-color: $white-pur;
        justify-content: flex-end;
        overflow: hidden;
        opacity: 0;
        animation: OpacityMenu 5000ms ease-out forwards;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: calc(5000ms / 10) * $i
            }
        }
    }

    &__item {
        @include flex-container(column, null);
        padding-left: 15px;
        gap: 5px;
        flex: 1;
        overflow: hidden;
        min-width: 0;
    }

    &__name {
        font-family: $theme-text-roboto;
        font-size: $sz-18;
        white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
        overflow: hidden; /* Cache tout contenu débordant */
        text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer le texte tronqué */
    }

    &__lastname {
        font-family: $theme-text-roboto;
        font-size: $sz-15;
        white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
        overflow: hidden; /* Cache tout contenu débordant */
        text-overflow: ellipsis; /* Affiche des points de suspension (...) pour indiquer le texte tronqué */

    }

    &__price {
        @include font($sz-15, 700, $theme-text-roboto);
        padding: 25px 13.5px 0 13.5px;
    }

    &__animation {
        width: 0;
        height: 69px;
        text-align: center;
        @include flex-center;
        @include rounded-corners (0 15px 15px 0);
        background-color: $cyan-Tertiary;
        overflow: hidden;
        transition: width 0.5s ease;
    }

    &__check {
        color: $white-pur;
        font-size: 20px;
    }
    
}

.menu__items:hover .menu__animation {
    width: 59px;
}


.menu__btn {
    text-align: center;
    padding-bottom: 40px;
}





