*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::placeholder {
  color: #000000;
}

li {
  list-style: none;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
}

h2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 300;
}

span {
  font-family: "Roboto";
}

button {
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header {
  height: 63px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-bottom: 1px;
}
@media screen and (min-width: 1024px) {
  .header {
    box-shadow: none;
  }
}
.header__logo {
  text-align: center;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 13px;
}

.local {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .local {
    box-shadow: none;
  }
}
.local__input {
  width: 115px;
  border: 0;
  outline: none;
  font-weight: bold;
  background-color: #EAEAEA;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
}

h2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 300;
}

span {
  font-family: "Roboto";
}

button {
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero {
  margin-top: 5px;
  padding: 34px 0 57px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .hero {
    align-items: center;
    gap: 18px;
  }
}
.hero__title {
  width: 275px;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    width: 100%;
  }
}
.hero__text {
  width: 315px;
  font-size: 1.125rem;
  margin-bottom: 27px;
}
@media screen and (min-width: 1024px) {
  .hero__text {
    width: 100%;
    margin: 0;
  }
}

.tuto {
  padding: 48px 20px 68px 20px;
}
@media screen and (min-width: 1024px) {
  .tuto {
    width: 1053px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
}
.tuto__title {
  padding-bottom: 26px;
}
.tuto__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24.92px;
  padding-left: 12.51px;
}
@media screen and (min-width: 1024px) {
  .tuto__content {
    flex-direction: row;
  }
}
.tuto__content li {
  width: 100%;
  display: flex;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
}
.tuto__circle {
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
  position: relative;
  right: 11px;
  bottom: 3px;
}
.tuto__number {
  position: relative;
  top: 2px;
}
.tuto__icon {
  color: #7E7E7E;
  padding-left: 11px;
  padding-right: 27px;
}
.tuto__text {
  font-size: 1rem;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 18px 66px 17px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    width: 1053px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
}
.restaurants__heading {
  padding-bottom: 48px;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }
}
.restaurants__card {
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
}
.restaurants__img {
  height: 191px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.restaurants__rectangle {
  padding: 8px;
  position: absolute;
  top: 16px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: "Roboto";
  font-size: 0.875rem;
  text-align: center;
  align-content: center;
}
.restaurants__footer {
  padding: 16px;
  display: flex;
  align-items: center;
}
.restaurants__content {
  flex: 1;
}
.restaurants__title {
  margin-bottom: 4px;
}
.restaurants__like {
  font-size: 21px;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.875rem;
}

h2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 300;
}

span {
  font-family: "Roboto";
}

button {
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 114px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    align-items: flex-end;
  }
}
.footer__logo {
  width: 139px;
  font-size: 1.125rem;
  font-family: "Shrikhand";
  padding-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    padding: 0;
  }
}
.footer__global {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1024px) {
  .footer__global {
    width: 661px;
    flex-direction: row;
  }
}
.footer__content {
  width: 190px;
  display: flex;
  gap: 11px;
}
.footer__content i {
  width: 15px;
  font-size: 14px;
}

/*# sourceMappingURL=main.css.map */
